.button {
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  display: inline-block;
  padding: 6px;
  width: 13rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &--purple {
    background-color: #4b51ef;
  }

  &--red {
    background-color: #d91313;
  }
}
