.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 1.5rem;
}
